.App {
  padding: 1%;
  text-align: center;
  background-image: url("./background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color:white;
}


.title{
  font-size: 5em;
  font-family: fantasy;
  opacity: 1;
}

.mainContainer{
  padding: 15px;
  width: 75%;
  margin: auto;
  background-color: rgb(71, 68, 68);
  opacity: 0.9;
  border-radius: 10px;
}

.attribute{
  padding: 10px;
  border: solid black 1px;
  border-radius: 5px;
  margin: 5px;
  background-color: black;
  opacity:0.99;
}

.equipment{
  width: 340px;
  height: 600px;
  border-radius: 5px;
  border: solid black 1px;
  background-color: black;
  opacity: 0.99;
}